<h1>DASHBOARD</h1>
<p><%= current_enterprise.display_name %>の管理ページです。</p>

<h2>ポリシー</h2>
<div class="list-group">
<% AndroidManagementApi.call("GET /enterprises/#{current_enterprise.name}/policies")['policies']&.each do |policy| %>
<a href="/<%= policy['name'] %>" class="list-group-item list-group-item-action"><%= policy['name'].split("/").last %></a>
<% end %>
<a href="/enterprises/<%= current_enterprise.name %>/policies/new" class="list-group-item list-group-item-action">新規作成</a>
</div>
